{% extends 'base_without_search.html' %}
{% load bootstrap4 %}
<script src="/static/js/menu_btn.js"></script>
{% block html_head %}
    <style>
        .container {
            font-family: 'Noto Serif KR', serif;
        }

        .page-title {
            font-size: 3em;
            font-weight: 600;
            letter-spacing: 0.15em;
        }


        label {
            font-size: 1.5em;
            border-radius: 10%;
            padding: 0.4em;
            margin-bottom: 3px;
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block html_body_without_search %}
    <div class="container">
        <div class="mx-auto">
            <div class="d-flex flex-column align-items-center my-3">
                <div class="my-5 page-title">새글 작성</div>
                <form method="post" class="w-75">
                    {% csrf_token %}
                    {% bootstrap_form boardForm %}
                    <br>
                    <div class="d-flex flex-row-reverse">
                         <button type="submit" class="btn btn-outline-dark btn-lg mx-1">작성</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

{% endblock %}