{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_head %}
    <script src="/static/js/menu_btn.js"></script>
{% endblock %}

{% block html_body %}
    <div class="container">

        <div class="row mt-5">
            <div class="col-12">
                <div class="form-group">
                    <h1>상세 보기</h1>
                    글 번호 : <span id="post_id">{{ detail_form.initial.id }}</span><br>
                    작성자 : <span>{{ post.b_author }}</span><br>
                    <span id="media_id" style="display: none">{{ post.media.id }}</span>
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" value="{{ post.b_title }}" readonly>
                    <label for="contents">내용</label>
                    <textarea class="form-control" readonly>{{ post.b_content }}</textarea>
                    <br><br><br><br>

                </div>
                <button class="btn btn-primary"
                        onclick="location.href='/commu/{{ post.media.id }}/list'">리스트</button>

                {% if request.user == post.b_author  %}
                    <button class="btn btn-success" onclick="board_modify()">수정하기</button>
                    <button class="btn btn-danger" onclick="board_delete()">삭제</button>
                {% endif %}
             <button class="btn btn-warning"
                onclick="like_post(this.id)">{{ post.b_like }}좋아요
        </button>
            <span id ="like_count">{{ board.b_like.count }}</span>
            <div class ='toast' style="display: none">
            </div>
            <div id ='message'></div>
            </div>
        </div>

    </div>
    <br><br>
{#    댓글 시작 #}
    <div class="comment_container">
        <h2>Comment</h2>
    <label for="c_name">Nick name</label>
    <input type="text" class="form-control w-25" id="c_name">
    <label for="c_content">Content</label>
    <input type="text" class="form-control w-50" id="c_content">
    <br>
    <button type="button" class="btn btn-info" onclick="creat_comment()">Comment submit</button>
    <table class="table table-hover">
         <thead class="thread-dark">
            <tr>
                <th scope="col">Comment_author</th>
                <th scope="col">Comment_content</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.c_author }}</td>
                    <td>{{ comment.c_content }}</td>
                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}