{% extends 'base.html' %}
{% load bootstrap4 %}
{% block html_head %}
    <script src="/static/js/menu_btn.js"></script>
{% endblock %}

{% block html_body %}
     <div class="container">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form boardForm %}
            <button onclick="document.location.href='/commu/{{ board.media.id }}/{{ board.id }}/modify/'"
                    class="btn btn-success" type="submit" >수정</button>
        </form>
           <button class="btn btn-primary" onclick="document.location.href='/commu/{{ board.media.id }}/list/'">리스트로</button>

    </div>

{% endblock %}
