{% extends 'base_without_search.html' %}
{% load bootstrap4 %}

{% block html_head %}
<script src="/static/js/search_btn.js"></script>
{% endblock %}

{% block html_body_without_search %}
    <div>
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <!--SEARCH FORM-->
                <div class="flex-fill">
                    <form action="search/" method="post" name="search_form" onsubmit="return search_func()"
                          class="row row-cols-lg-auto my-3 flex-fill">
                        {% csrf_token %}
                        <div class="col-12">
                            <select class="form-select m-3" id="category" name="options">
                                <option value="Movie">Movie</option>
                                <option value="TV program">TV program</option>
                            </select>
                        </div>
                        <div class="col-12 m-3 flex-fill">
                            <input type="search" class="form-control" name="keyword" placeholder="Search..." aria-label="Search">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-light btn-outline-dark text-dark my-3">Search</button>
                        </div>

                    </form>
                </div>
                <div class="text-end">
                </div>
            </div>
        </div>
    </div>

    {% block html_body %}


    {% endblock %} <!-- html_body block end -->

{% endblock %}