{% extends 'base_without_search.html' %}
{% load bootstrap4 %}

{% block html_head %}
    <meta charset="UTF-8">
    <title>로그인</title>
    <script type="text/javascript" src="http://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="/static/js/k_login.js"></script>
    <script type="text/javascript">
        window.Kakao.init("06f2fb73b66031403fa370d1704f9904");
        console.log(Kakao.isInitialized());

        function kakaoLogin() {
            Kakao.Auth.loginForm({
                scope: "profile_nickname, account_email",
                success: function (authObj) {
                    console.log(authObj);
                    window.Kakao.API.request({
                        url: "/v2/user/me",
                        success: res => {
                            const kakao_account = res.kakao_account;
                            console.log(kakao_account.email);
                            k_login(kakao_account.email);
                            {#console.log(res);#}
                            {#let email = res.kakao_account.email;#}
                            {#location.href = "/user/login/";#}
                        },

                        fail: function () {
                            alert("로그인 실패!");
                        }
                    });
                }
            });
        }

        function kakaoLogout() {
            Kakao.API.request({
                url: "/v1/user/unlink",
                success: function () {
                    alert("카카오 로그아웃되었습니다.");
                    location.href = "/user/login/";
                },

                fail: function () {
                    alert("로그아웃 실패");
                }
            });
        }
    </script>

    <style>
        .container {
            font-family: 'Noto Serif KR', serif;
        }

        .kakao-login {
            aspect-ratio: 183/45;
            width: 45%;
        }
    </style>
{% endblock %}

{% block html_body_without_search %}
    <div class="container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center w-75 my-5 my-5 border"
             style="padding: 10% 20%; aspect-ratio: 2 / 1">
            <form action="/user/loginProcess/" method="post"
                  class="d-flex flex-column justify-content-center my-3">
                {% csrf_token %}
                <h1 class="mb-3 fw-normal">로그인</h1>

                {% bootstrap_form login_form %}
                <br>
                <button class="btn btn-primary w-50 my-1 mx-auto" type="submit">로그인</button>
                <button class="btn btn-secondary w-50 my-1 mx-auto" onclick="document.location.href='/user/signup/'">회원가입</button>

            </form>
            <hr class="mt-3">
            <div class="mx-auto my-2 fs-5">social login</div>
                <img src="/static/img/kakao_login_large_narrow.png"
                 id="custom-login-btn" class="kakao-login my-1 mx-auto" alt="카카오 로그인 버튼"
                 onclick="kakaoLogin()"/>
        </div>
        <br>

    </div>





{% endblock %}