{% extends 'base_without_search.html' %}
{% load bootstrap4 %}

{% block html_head %}
    <meta charset="UTF-8">
    <title>로그인</title>
    <script type="text/javascript" src="http://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript">
        Kakao.init("06f2fb73b66031403fa370d1704f9904");
        console.log(Kakao.isInitialized());

        function kakaoLogin() {
            Kakao.Auth.loginForm({
                scope: "account_email",
                success: function (authObj) {
                    console.log(authObj);
                    Kakao.API.request({
                        url: "/v2/user/me",
                        success: function (res) {
                            console.log(res);
                            let email = res.kakao_account.email;
                            location.href = "/user/login/";
                        },

                        fail: function () {
                            alert("로그인 실패!");
                        }
                    });
                }
            });
        }

        function kakaoLogout() {
            Kakao.API.request({
                url: "/v1/user/unlink",
                success: function () {
                    alert("카카오 로그아웃되었습니다.");
                    location.href = "/user/login/";
                },

                fail: function () {
                    alert("로그아웃 실패");
                }
            });
        }
    </script>

{% endblock %}

{% block html_body_without_search %}
    <div class="container">
        <form action="/user/loginProcess/" method="post">
            {% csrf_token %}

            <br>
            <h1 class="h3 mb-3 fw-normal">로그인</h1>

            {% bootstrap_form login_form %}

            <br><br>
            <button class="w-25 btn btn-primary" type="submit">로그인</button>
        </form>

        <br>
        <a href="/user/signup/">
            <button class="w-25 btn btn-secondary">회원가입</button>
        </a>
    </div>


    {#카카오 로그인 버튼#}
    {#    <a id="custom-login-btn" href="javascript:kakaoLogin()">#}
    {#        <img#}
    {#                src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"#}
    {#                width="222"#}
    {#                alt="카카오 로그인 버튼"#}
    {#        />#}
    {#    </a>#}
    {##}
    {#    <a href="javascript:kakaoLogout();">카카오 로그아웃</a>#}
{% endblock %}